<mat-toolbar color="primary">
  <a [routerLink]="['/']">
    <span>Mi app</span>
  </a>
  <span class="spacer"></span>
  <app-cart class="mouseHover" (click)="navigateToCheckout()"></app-cart>
</mat-toolbar>