<mat-card class="product__card">
  <mat-card-header>
    <mat-card-title>{{ product.title }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    {{ product.body }}
  </mat-card-content>

  <mat-card-actions>
    <button mat-flat-button color="primary" (click)="onClick()">
      Comprar {{ product.id | currency }}
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>