<table class="mat-elevation-z8" mat-table [dataSource]="products">
  <!-- Begin - Columns -->
  <ng-container matColumnDef="userId">
    <th mat-header-cell *matHeaderCellDef>User ID</th>
    <td mat-cell *matCellDef="let product">{{ product.userId }}</td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let product">{{ product.id }}</td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let product">{{ product.title }}</td>
  </ng-container>

  <ng-container matColumnDef="body">
    <th mat-header-cell *matHeaderCellDef>Body</th>
    <td mat-cell *matCellDef="let product">{{ product.body }}</td>
  </ng-container>
  <!-- End - Columns -->

  <!-- Begin - Content -->
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  <!--<tr mat-footer-row *matFooterRowDef="columns"></tr>-->
  <!-- End - Content -->
</table>

<div class="container__total">
  <p class="list__total">
    <strong>Total: </strong>
    {{ total$ | async | currency }}
  </p>
</div>
