<div class="checkout__container">
  <form class="checkout__form">
    <mat-form-field class="checkout__form__item">
      <input
        matInput
        placeholder="Name"
        [(ngModel)]="model.name"
        name="name"
        #name="ngModel"
        required
      />
      <mat-error *ngIf="!name.valid || name.pristine">Name is required</mat-error>
    </mat-form-field>

    <mat-radio-group class="checkout__form__item">
      <p>Elije una opción:</p>
      <mat-radio-button value="pickup" (change)="handleBuyOption('pickup')">Pickup</mat-radio-button>
      <mat-radio-button value="delivery" (change)="handleBuyOption('delivery')">Delivery</mat-radio-button>
    </mat-radio-group>

    <mat-form-field class="checkout__form__item">
      <input
        matInput
        placeholder="Shipping Address"
        [(ngModel)]="model.shippingAddress"
        name="shippingAddress"
        #shippingAddress="ngModel"
      />
    </mat-form-field>

    <mat-form-field class="checkout__form__item">
      <input
        matInput
        placeholder="City"
        [(ngModel)]="model.city"
        name="city"
        #city="ngModel"
      />
    </mat-form-field>

    <mat-form-field class="checkout__form__item">
      <mat-label>Selecciona:</mat-label>
      <mat-select
        [(ngModel)]="model.store"
        name="store"
        #store="ngModel"
      >
        <mat-option [value]="storeSelected" *ngFor="let storeSelected of stores">
          {{ storeSelected.name }} - {{ storeSelected.phone }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>

<app-list></app-list>

<div class="container__button">
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]=""
  >
    Checkout
  </button>
</div>